/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage
.idea
.vscode
data
composer.lock
orsai-local Session.sql
.php_cs.cache
.DS_Store
