@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    /* Change primary font */
    --font-family-primary: 'Space mono';
    --palette-primary-500: black;
    /* Remove round corners */
    --round-corners: 0px;
}
.coral-tabBar span{
   font-family: 'Space mono';
}
.coral-viewerBox{
	display: none;
}
.coral-emailNotifications{
	display: none;
}
.tab-PROFILE{
	display: none;
} 
.IgnoreUserSettingsContainer-description-2b1e66290abf0f5a6d8371e03a66b6a7{
	display:none;
}