:root {
    /* Change primary font */
    --font-family-primary: 'Space mono';
    --palette-primary-500: black;
    /* Remove round corners */
    --round-corners: 0px;
}
.coral-tabBar span{
   font-family: 'Space mono';
}
.coral-viewerBox{
	display: none;
}
.coral-emailNotifications{
	display: none;
}