<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
    </style>
    <![endif]-->
    <style>
        h1{
            font-family: 'Barlow Condensed', 'Roboto', sans-serif;
        }
    </style>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Roboto&display=swap" rel="stylesheet">
</head>
<body
    style="margin: 0; padding: 0; min-width: 100%; background-color: #e6e6e6; font-family: 'Roboto', sans-serif;">
<center
    style=" max-width: 600px; width: 100%; margin: auto; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
    <table
        style="width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
        <tr bgcolor="#fffefe">
            <td style="text-align: center; padding: 0; padding-top:20px;">
                <a href="https://comunidadorsai.org/"
                   style="padding:15px;display: inline-block;text-align: center; color:black; text-decoration: none;">
                    <img src="{{url('recursos/comunidad-orsai-new.png')}}" width="100" alt="Comunidad Orsai">
                </a>
            </td>
        </tr>

        <tr style="padding: 0; text-align: center; width: 600px;"
            bgcolor="#fffefe">
            <td style="padding: 0; text-align: center; width: 600px;"
                bgcolor="#fffefe">
                <h1 style="margin-bottom:0;font-size:36px; line-height: 38px;font-weight: 700;font-family: 'Barlow+Condensed', sans-serif;">
                    Hay buenas nuevas
                </h1>
            </td>
        </tr>

        <tr bgcolor="#fffefe">
            <td style="padding-bottom:20px;">
                <div
                    style="color: black; margin: 4% 5% 2%; text-align: justify;font-family: 'Roboto', sans-serif;">
                    <p style="text-align: center; margin: 2px; font-size:16px;">
                        Conocé los próximos pasos de la Comunidad Orsai.
                    </p>
                    <p style="text-align: center; margin: 2px; font-size:16px;">
                    <a href="{{$token}}" target="_blank"
                       style="background-color:#ffeb04; padding-right:30px; padding-left:30px; padding-top:10px; padding-bottom:10px; border-radius: 20px; margin-top:20px; margin-bottom:20px; font-size:18px; display: inline-block; text-decoration:none; text-align: center; color:black;">Ingresar</a>
                    </p>
                </div>
            </td>
        </tr>  
        <tr>
            <td style="height:25px;"></td>
        </tr> 
        <tr>
            <td style="text-align: center; ">
                <div
                    style="font-size:14px; width:120px; padding-top:12px; overflow: hidden; margin:0 auto;">
                    <img style="width:100%;" src="{{url('recursos/orsai_logo_footer.png')}}"
                         alt="Logo Orsai">
                </div>
                <div>
                    <p style="font-size:13px; margin:0; margin-top:5px; color:#808080;">
                        Un blog puede convertirse en cualquier cosa</p>
                </div>
            </td>
        </tr>
    </table>
</center>

</body>
</html>
