@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?58917125');
  src: url('../font/fontello.eot?58917125#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?58917125') format('woff2'),
       url('../font/fontello.woff?58917125') format('woff'),
       url('../font/fontello.ttf?58917125') format('truetype'),
       url('../font/fontello.svg?58917125#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?58917125#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-down-dir:before { content: '\e805'; } /* '' */
.icon-up-dir:before { content: '\e806'; } /* '' */
.icon-left-dir:before { content: '\e807'; } /* '' */
.icon-right-dir:before { content: '\e808'; } /* '' */
.icon-card:before { content: '\e809'; } /* '' */
.icon-fb:before { content: '\e80a'; } /* '' */
.icon-ficha:before { content: '\e80b'; } /* '' */
.icon-instagram:before { content: '\e80c'; } /* '' */
.icon-talk:before { content: '\e80d'; } /* '' */
.icon-tw:before { content: '\e80e'; } /* '' */
.icon-whatsapp:before { content: '\e80f'; } /* '' */
.icon-aviso:before { content: '\e810'; } /* '' */
.icon-vista:before { content: '\e811'; } /* '' */
.icon-mensaje:before { content: '\e812'; } /* '' */
.icon-right_arrow:before { content: '\e813'; } /* '' */
.icon-mail-alt-1:before { content: '\e814'; } /* '' */
.icon-mail-open-regular:before { content: '\e815'; } /* '' */
.icon-trash-empty:before { content: '\e816'; } /* '' */
.icon-mail-open:before { content: '\e817'; } /* '' */
.icon-mail-1:before { content: '\e818'; } /* '' */
.icon-search:before { content: '\e819'; } /* '' */
.icon-right:before { content: '\e81a'; } /* '' */
.icon-left:before { content: '\e81b'; } /* '' */
.icon-right-bold:before { content: '\e81c'; } /* '' */
.icon-up-dir-1:before { content: '\e81d'; } /* '' */
.icon-angle-up-1:before { content: '\e81e'; } /* '' */
.icon-angle-down-1:before { content: '\e81f'; } /* '' */
.icon-config:before { content: '\e820'; } /* '' */
.icon-left_arrow:before { content: '\e821'; } /* '' */
.icon-check:before { content: '\e822'; } /* '' */
.icon-editar:before { content: '\e823'; } /* '' */
.icon-check_2:before { content: '\e824'; } /* '' */
.icon-check_circle:before { content: '\e825'; } /* '' */
.icon-exclamacion_circle:before { content: '\e826'; } /* '' */
.icon-down-dir-1:before { content: '\e827'; } /* '' */
.icon-arrow_down_rellena:before { content: '\e828'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */