
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-down-dir:before { content: '\e805'; } /* '' */
.icon-up-dir:before { content: '\e806'; } /* '' */
.icon-left-dir:before { content: '\e807'; } /* '' */
.icon-right-dir:before { content: '\e808'; } /* '' */
.icon-card:before { content: '\e809'; } /* '' */
.icon-fb:before { content: '\e80a'; } /* '' */
.icon-ficha:before { content: '\e80b'; } /* '' */
.icon-instagram:before { content: '\e80c'; } /* '' */
.icon-talk:before { content: '\e80d'; } /* '' */
.icon-tw:before { content: '\e80e'; } /* '' */
.icon-whatsapp:before { content: '\e80f'; } /* '' */
.icon-aviso:before { content: '\e810'; } /* '' */
.icon-vista:before { content: '\e811'; } /* '' */
.icon-mensaje:before { content: '\e812'; } /* '' */
.icon-right_arrow:before { content: '\e813'; } /* '' */
.icon-mail-alt:before { content: '\e814'; } /* '' */
.icon-mail-open-regular:before { content: '\e815'; } /* '' */
.icon-trash-empty:before { content: '\e816'; } /* '' */
.icon-mail-open:before { content: '\e817'; } /* '' */
.icon-mail:before { content: '\e818'; } /* '' */
.icon-search:before { content: '\e819'; } /* '' */
.icon-right:before { content: '\e81a'; } /* '' */
.icon-left:before { content: '\e81b'; } /* '' */
.icon-right-bold:before { content: '\e81c'; } /* '' */
.icon-up-dir-1:before { content: '\e81d'; } /* '' */
.icon-angle-up-1:before { content: '\e81e'; } /* '' */
.icon-angle-down-1:before { content: '\e81f'; } /* '' */
.icon-config:before { content: '\e820'; } /* '' */
.icon-left_arrow:before { content: '\e821'; } /* '' */
.icon-check:before { content: '\e822'; } /* '' */
.icon-editar:before { content: '\e823'; } /* '' */
.icon-check_2:before { content: '\e824'; } /* '' */
.icon-check_circle:before { content: '\e825'; } /* '' */
.icon-exclamacion_circle:before { content: '\e826'; } /* '' */
.icon-down-dir-1:before { content: '\e827'; } /* '' */
.icon-arrow_down_rellena:before { content: '\e828'; } /* '' */
.icon-flag:before { content: '\e829'; } /* '' */
.icon-cancel-circle:before { content: '\e82a'; } /* '' */
.icon-plus-circle:before { content: '\e82b'; } /* '' */
.icon-minus-circle:before { content: '\e82c'; } /* '' */
.icon-cancel:before { content: '\e82d'; } /* '' */
.icon-ok-circle:before { content: '\e82e'; } /* '' */
.icon-down:before { content: '\e82f'; } /* '' */
.icon-left-1:before { content: '\e830'; } /* '' */
.icon-right-1:before { content: '\e831'; } /* '' */
.icon-up:before { content: '\e832'; } /* '' */
.icon-down-circle:before { content: '\e833'; } /* '' */
.icon-left-circle:before { content: '\e834'; } /* '' */
.icon-lapiz_2:before { content: '\e835'; } /* '' */
.icon-libro:before { content: '\e836'; } /* '' */
.icon-right-circle:before { content: '\e837'; } /* '' */
.icon-up-circle:before { content: '\e838'; } /* '' */
.icon-carpeta_cerrada:before { content: '\e839'; } /* '' */
.icon-filtro:before { content: '\e83a'; } /* '' */
.icon-flecha_leitmotiv:before { content: '\e83b'; } /* '' */
.icon-carpeta_abierta:before { content: '\e83c'; } /* '' */
.icon-borrar_filtro:before { content: '\e83d'; } /* '' */
.icon-candado:before { content: '\e83e'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */